[Desktop Entry]
Name=keyfault
Comment=Keyboard Auto-Default
Categories=Utility
Exec=/usr/bin/keyfault
StartupNotify=true
Terminal=false
Type=Application
